@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-2">Welcome</h1>

    <form method="post">
        <input type="text" name="TextRequest" />
        <input type="submit" value="Отправить" />
    </form>
    @if (ViewBag.searchResults != null)
    {

        <div class="m-5 text-left">
            @if (ViewBag.searchResults.resultItems != null)
                @foreach (SearchResultItem item in ViewBag.searchResults.resultItems)
                {
                    <div class="m-5 text-left p-3 shadow-lg">
                        <p class="font-weight-bold">@item.Header</p>
                        <p class="">@item.Text</p>

                        <p><a href="@item.Url">@item.Link</a></p>

                    </div>
                }

        </div>

        <p class="small bg-info m-5">@ViewBag.searchResults.fullText</p>
    }

</div>

